{{#header}}
<div class="header">
    <a href="/"><div class="logo"><span class="notxt">YF Law</span></div></a>
    <h1>
        <a href="/"><div class="title">{{yflaw}}</div></a>
        <div class="specialties">
            {{#specialties}}
            {{.}}
            {{/specialties}}
        </div>
    </h1>
    <div class="banner"></div>
</div>
{{/header}}