<div class="header">
    <div class="logo"></div>
    <h1>
        <span class="name">{{yflaw}}</span>
        <span class="specialties">
            {{#specialties}}
            <span>{{.}}</span>
            {{/specialties}}
        </span>
    </h1>
    <div class="banner"></div>
</div>