{{#header}}
<div class="header">
    <div class="logo"><span class="notxt">YF Law</span></div>
    <h1>
        <div class="title">{{yflaw}}</div>
        <div class="specialties">
            {{#specialties}}
            {{.}}
            {{/specialties}}
        </div>
    </h1>
    <div class="banner"></div>
</div>
{{/header}}