{{#sidebar}}
<div class="sidebar">
    <aside>
        <div class="sec specialties">
            <section>
                {{#specialties}}
                <div class="hd">
                    <h2>{{title}}</h2>
                </div>
                <div class="bd">
                    <ul>
                        {{#items}}
                        <li>{{.}}</li>
                        {{/items}}
                    </ul>
                </div>
                {{/specialties}}
            </section>
        </div>
        <div class="sec resume">
            <section>
                {{#resume}}
                <div class="hd">
                    <h2>{{title}}</h2>
                </div>
                <div class="bd">
                    {{content}}
                </div>
                {{/resume}}
            </section>
        </div>
    </aside>
</div>
{{/sidebar}}