<div class="sidebar">
    <aside>
        <div class="specialties">
            <section>
                <div class="hd"></div>
                <div class="bd">
                    <ul>
                        {{#specialties}}
                        <li>{{.}}</li>
                        {{/specialties}}
                    </ul>
                </div>
            </section>
        </div>
        <div class="resume">
            <section>{{resume}}</section>
        </div>
    </aside>
</div>
